body {
	/* background-color:#E32843; */
}
.container {
	width: 90%;
	height: auto;
	margin: 0 auto;
	
}
/* main header--main--header--*/
.full-header {
	background-color: #E32843;
	display: flex;
	justify-content: space-between;
}
header {
	border-bottom: 1px dotted black;
	background-color:#E32843;
}
.full-header .left-logo {
}
.left-logo h1 {
font-size: 50px;
color: #ffff;
}
.left-logo h1:hover {
	color: #000000;
}
/*right option right option right option*/
.full-header .right-nav {
	height: 40px;
	width: auto;
	margin-top: 43px;
}
.full-header .right-nav ul {
list-style: none;
}
.full-header .right-nav li {
	display: inline;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 20px;
}
.full-header .right-nav a {
	text-decoration: none;
	font-size: 21px;
	color: #ffff;
}
.full-header .right-nav a:hover {
	color: #000000;
}
#active {
	color:#000000;
}
section {
	
	background-color: #E32843;
	width: 100%;
	height: 550px;
	padding-top: 37px;
}
.full-section-one {
display: flex;
justify-content: space-between;
}
.full-section-one .left-content {

}
.full-section-one .left-content h4 {
font-size: 39px;
}
.full-section-one .left-content h1 {
font-size: 68px;
}
.full-section-one .left-content h3 {
font-size: 32px;
}
.full-section-one .left-content a {
	text-decoration: none;
	background-color: #ffff;
	padding: 16px 40px;
	margin-left: 0px;
	margin-right: 9px;
}
.full-section-one .left-content a:hover {
	background-color: #E32843;
	color: #ffff;
	border: 2px solid #fff;
	font-weight: bolder;
}
.full-section-one img {
	height: 386px;
	width: 398px;
	margin-right: 111px;
	box-sizing: border-box;
}
/* section number two section number two*/
.section-2 {
	width: 100%;
	height: auto;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
.section-2 .left-img {
	height: 590px;
	width: 49%;
	margin-top: -37px;
}
.section-2 .left-img img {
height: 100%;
width: 100%;
}
.section-2 .content-write {
	width: 39%;
	margin-right: 117px;
	line-height: 17px;
}
.section-2 .content-write p {
	font-size: 20px;
	font-weight: bolder;
	color: gray;
}
.section-2 .content-write h1 {
	font-size: 36px;
	color: #645b5b;
}
.section-2 .content-write .second-p {
	color: #a28b8b;
	font-weight: normal;
}
.section-2 .content-write h3 {
	color: silver;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
}
.section-2 .content-write h5 {
	color: #cc7474;
	font-style: normal;
	font-weight: normal;
}
.section-2 .content-write a {
	text-decoration: none;
	background-color: #E32944;
	padding: 15px 33px;
	font-weight: bold;
	color: #fff;
}
.section-2 .content-write a:hover {
	border: 2px solid black;
	color: #E32843;
	background-color: #ffff;
}
/*section three section three*/
.section-three {
display: flex;
justify-content: space-between;
}
.section-three .right-image-1 {
	height: 440px;
	margin-top: -37px;
	width: 38%;
}
.section-three .right-image-1 img {
height: 100%;
width: 100%;
}
.left-content-1 {
width: 40%;
}
.left-content-1 input {
	width: 121%;
	margin-left: 0px;
	height: 33px;
	margin: 11px;
	border: none;
	border-bottom: 2px dotted black;
}
.section-three {
	width: 100%;
	height: 400px;
	padding-top: 37px;
	background-color: #E32944;
}
.left-content-1 .submit {
	width: 217px;
height: 42px;
border-bottom: none;
border-radius: 10px;
color: #E32944;
font-weight: bold;
}
.left-content-1 .submit:hover {
	background-color: #E32843;
	color: #fff;
	border: 2px solid #ffff;
	cursor: pointer;
}
/*section four section four*/
.section-number-4 {
	width: 100%;
	height: 500px;
	background-color: #fff;
}
.section-number-4 h5 {
	font-size: 24px;
	text-align: center;
	color: #544;

}
.section-number-4 h1 {
	text-align: center;
	color: #414141;
	font-size: 38px;
	font-weight: bolder;
}
.section-number-4 .two-per-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item-one {
	height: 145px;
	width: 40%;
	display: flex;
	padding: 10px;
	margin: 10px;
}
.item-one img {
	height: 141px;
	width: 133px;
	border-radius: ;
	border: 2px solid red;
}
.item-one .right-right-write {
padding-left: 35px;
}
.item-one .right-right-write:hover {
background-color: #E32843;
color: #fff;
}
.item-one .right-right-write h4 {
	font-size: 27px;
	line-height: 3px;
	font-style: italic;
}
.right-right-write p {
	text-align: justify;
	font-size: 17px;
	font-weight: normal;
}
/*section five section five*/
.section-five {
	background-color: #E32944;
	height: 500px;
	width: 100%;
	margin-top: 153px;
}
.section-five-center {
	height: 400px;
	width: 76%;
	margin: 0 auto;
}
.section-five-center h5 {
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #414141;
	font-weight: bolder;
	
}
.section-five-center  h1 {
	text-align: center;
	font-size: 50px;
	line-height: 10px;
	color: #fff;
}
.section-five-center  h1 span {
	color: #414141;
}
.section-five-center p {
text-align: center;
width: 76%;
margin: 0 auto;
font-size: 23px;
color: #FFEAC1;
}
.section-five-center  button {
	padding: 13px 39px;
	display: flex;
	margin-top: 19px;
	margin: 38px auto;
	background-color: #ffff;
}
.section-five-center  button:hover {
	background-color: #E32843;
	border: 2px solid #ffffff;
	color: #ffffff;
}
.section-five-center  button a {
	text-decoration: none;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}